{% extends "base.html" %} {% block title %}Reset password{% endblock %} {% block content
%}
<div style="margin-left: 25%; padding: 1px 16px; ">
    <form method="POST">
        <h3 align="center">Reset Password</h3>

        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" />
        </div>

        <div class="form-group">
            <label for="password">Confirm New Password</label>
            <input type="password" class="form-control" id="password2" name="password2"
                placeholder="re-Enter Password" />
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}